<div class="container">
    
      
<div id="job-details">
  <h4 class="mt-5">Job Details:</h4>
  <p><strong>Job Title:</strong> {{job.title}}</p>
  <p><strong>Description:</strong> {{job.description}}</p>
  <p><strong>Location:</strong> {{job.place}}</p>
  <p><strong>Duration:</strong> {{job.duration}}</p>
  <p><strong>Experience:</strong> {{job.experience}}</p>
  <p><strong>Work Hours:</strong> {{job.workhours}}</p>
  
  <p><strong>Responsibilities:</strong></p>
  

  {{job.responsibilities}}
  
  <p><strong>Qualification:</strong></p>
  
  {{job.qualification}}
</div>
      <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
      
      </div>
   
  

<h5 class="mt-5">If interested, send an email to: <a href="mailto:carres@sniqsys.com">carres@sniqsys.com</a></h5>
<!--
<div>
  <h4 class="mb-4">Apply For The Job</h4>
  <form action="" method="POST" enctype="multipart/form-data">
    <div class="row g-3">
      <div class="col-12 col-sm-6">
        <input type="text" class="form-control" placeholder="Your Name" name="Name">
      </div>
      <div class="col-12 col-sm-6">
        <input type="email" class="form-control" placeholder="Your Email" name="Email">
      </div>
      <div class="col-12 col-sm-6">
        <input type="text" class="form-control" placeholder="Portfolio Website" name="Portfolio">
      </div>
      <div class="col-12 col-sm-6">
        <input type="file" class="form-control bg-white" name="File">
      </div>
      <div class="col-12">
        <textarea class="form-control" rows="5" placeholder="Cover Letter" name="CoverLetter"></textarea>
      </div>
      <div class="col-12">
        <button class="btn btn-primary w-100" type="submit">Apply Now</button>
      </div>
    </div>
  </form>
</div>-->
</div>
